body{
    background-color: rgb(245, 243, 244);
}
.CONTAINER{
    background-color: beige;
    color: rgb(173, 120, 51);
    border-radius: 25%;
    box-shadow: 2% 2% 2%  rgb(173, 120, 51);
    max-width: 10%;
max-height: 30%;
}