*{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    box-sizing: border-box;
    font-family: 'Courier New';

}
 
.text{
display: flex;
align-items: center;
justify-content: center;
font-family: bolder;
font-style: oblique;
font-size: 5rem;
position: relative;
top: 10rem;
color: #93d8a4;
}
.container{
    background:rgb(224, 220, 220);
    height: 20rem;
    width: 45rem;
    margin: 13% auto;
    border-radius: 4% 1%;
    position: relative;
   
}
.input{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-items:center ;
    margin: 5% 35%;
    background: none;
}
.input input{
    background: none;
    border: 2px solid #526e58;
    border-radius: 0.2em;
    width: 100%;
    padding: 2%;
    font-size: 1rem;
    box-shadow: 3px 2px 3px 0.5px #b8cfbe;

}
 .input label{

    font-weight: bolder;
    background: none;
    border: none;
    color: #5d9b6c;
    font-size: 2rem;
}
 button{
    background-color: #6bee8b;
    padding: 5%;
    font-size: large;
    color:#50835d;
    border: 2px solid #526e58;
    width: 80%;
    border-radius: 14% 5%;
    box-shadow: 3px 3px 2px 1px #b8cfbe;
   
} 