body{
    background-color:pink;
    margin-top:20% ;
    margin-bottom:20% ;
    margin-left: 20%;
    margin-right:20% ;
}
thead{
    background-color: black;
    color: white;
}
tbody{
    background-color: white;
}
img{
    border-radius: 50%;
    width:20px ;
    height:20px;
}
button{
    background-color: green;
    color: white;
    border-radius: 20%;
}