*{
    background-color: black;
}
@keyframes  example {
    from {background-color: rgb(152,44,34) }
    to {background-color: rgb(152,44,34)}
}
i{
    font-size: 30px;
    padding: 1%;
    margin-left: 1%;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.box{
    margin-top: 20%;
    margin-left:35%;
} 
/* #i:hover{
    background-color: rgb(152,44,34) ;
}
#i1:hover{
    background-color: rgb(6,160,220);
}
#i2:hover{
    background-color:white ;
    transition:ease 0.5ms;
   } */
