* {
    background-color: #42B27C;
}

.box {
    width: 20em;
    height: 20em;
    background-color: #C33440;
    margin: 10% 35%;
    position: relative;
    animation: slide 2s ease;

    @keyframes slide {
        0% {
            transform: translatex(0deg);
        }

        50% {
            transform: translatex(100px);
        }

        100% {
            transform: translatex(0deg);
        }
    }
}

.box1 {
    position: absolute;
    width: 15em;
    height: 15em;
    background-color: #FABA38;
    margin: 20% 20%;
    animation: slide 2s ease;

    @keyframes slide {
        0% {
            transform: translatex(0deg);
        }

        50% {
            transform: translatex(100px);
        }

        100% {
            transform: translatex(0deg);
        }
    }
}

.box2 {
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: #5050A2;
    margin: 30% 30%;
    animation: slide 2s ease;

    @keyframes slide {
        0% {
            transform: translatex(0deg);
        }

        50% {
            transform: translatex(100px);
        }

        100% {
            transform: translatex(0deg);
        }
    }
}