.contact{
    background-color: #36363E;
    overflow-y: hidden;
    overflow: hidden;
    height: auto;
    width: auto;
   
    }
   #contactdiv1{
      height: 50%;
      width: 25%;
      color: white;
      margin:2%;
        display: inline-table;
    }
    #contactdiv2{
      height: 50%;
      width: 25%;
      color: white;
      margin:2%;
     display: inline-table;
       height:60%;
       padding: 5%;
    }
     img{
        display: inline;
        }
    #contactdiv3{
      height: 50%;
      width: 25%;
      color: white;
      margin:2%;
      display: inline-table;
      padding:1%;
      text-align:center;
    }
  