#shop{
    margin:4%;
    overflow-y: hidden;
    height:900px;
    width: 10100px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding:30px;
}
#shopp{
    color: #3AA35B;
    font-size: 20px;
    font-weight: bold;
}
#shoph1{
    font-size:50px;
}
#shopimages{
    display:inline-block;
}
#shopimg{
border-radius:5%;
height:650px;
}
#shopimg1{
    border-radius:5%;
    height:650px;
    }
    #shopimg2{
        border-radius:5%;
        height:650px;
        }
#shoptext{
    height: 700px;
    display: inline-block;
}
#shoptext1{
    height: 700px;
    display: inline-block;
}
#shoph21{
    font-size:40px;
    text-align: center;
}
#shoph23{
    font-size:40px;
    text-align: center;
}
#shoph2{
    font-size:40px;
    text-align: center;
}
